.home-container {
    background-color: #1a1a1a;
    color: #fff;
    width: 150%;
   
    padding: 20px;
    text-align: center;
    min-height: 100vh;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
    transition: 0.3s;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  
  .features-list {
    list-style: none;
    padding: 0;
  }
  
  .features-list li {
    background: #333;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
  }
  
  .benefits-text {
    background: #222;
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
  }
  